@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}
.pg-topo{
    background-color: #0060B1;
    height: 112px;

}
.pg-topo>.cabecalho{
    margin: 0px auto;
    width:89%;
    background-color: #0060B1;
    height: 112px;
}
.pg-topo>.cabecalho>.bar{
    display: block;
    float: left;
    width: 29px;
    font-size: 30px;
    font-variant: small-caps;
    margin-top: 40px;
}
.pg-topo>.cabecalho>.bar>a>.fa-bars{
    text-decoration: none;
    color: white;
}
.pg-topo>.cabecalho>.logo>img{
    width: 160px;
    margin: 17px 0px 20px 25px;
}
.pg-topo>.cabecalho>.logo{
    width: 18.3%;
    height: 108px;
    margin:0;
    float: left;
}
.pg-topo>.cabecalho>.busca-cabecalho{
    margin-top: 39px;
    float: left;
    width: 482px;
}
.pg-topo>.cabecalho>.busca-cabecalho>.txt-busca{
    position: relative;
    height: 16px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 17px;
    border: 0px;
    float: left;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-bottom-right-radius: 27px;
}
.pg-topo>.cabecalho>.busca-cabecalho>.seta{
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0px;
    right: 489px;
    top: 31.6px;

}
.pg-topo>.cabecalho>.avatar-usuario{
    float: left;
    margin-top: 37px;
    margin-left: 117px;
}
.pg-topo>.cabecalho>.avatar-usuario>img{
    width: 35px;
    height: 32px;
}
.pg-topo>.cabecalho>.login-cadastro{
    float: left;
    margin-left: 7px;
    margin-top: 38px;
    font-size: 12px;
    color: #ccdff1;
    font-weight: 300;
}
.pg-topo>.cabecalho>.login-cadastro>.login>a{
    font-weight: bold;
    text-decoration: none;
    color: #ccdff1;
}
.pg-topo>.cabecalho>.login-cadastro>.login>a:hover{
    text-decoration: underline;
}
.pg-topo>.cabecalho>.login-cadastro>.cadastro>a{
    font-weight: bold;
    text-decoration: none;
    color: #ccdff1;
    font-weight: bold;
}
.pg-topo>.cabecalho>.login-cadastro>.cadastro>a:hover{
    text-decoration: underline;
}
.pg-topo>.cabecalho>.sac-botao{
    margin-top: 44px;
    margin-left: 60px;
    background-color: transparent;
    border: none;
    float: left;
}
.pg-topo>.cabecalho>.favoritos{
    float: left;
    margin-top: 46px;
    margin-left: 38px;
}
.pg-topo>.cabecalho>.carrinho{
    float: left;
    margin-top: 46px;
    margin-left: 40px;
}
.menu{
    position: absolute;
    background-color: #FF6500;
    margin: 0px;
    height: 38px;
    width: 97%;
    font-size: 14px;
    color: white;
    font-weight: 600;
}
.menu>.topicos{
    display: inline-block;
    width: 140px
}
.menu>.topico-1{
    display: inline-block;
    width: 239px;
    margin-left:37px;
    margin-right: 51px;
    padding-top: 8px;
}
.menu>a>.topico-2{
    display: inline-block;
    color: white;
}
.menu>a>.topico-3{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-4{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-5{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-6{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-7{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-8{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.banner>img{
    margin-top: 38px;
    margin-bottom: 0px;
    width: 100%;
}
section>.conteudo{
    float: left;
    background-color: white;
    width: 1000px;
    height: 1200px;
    background-color: black;
    margin-top: 1px;
    z-index: 1;
}