@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=trocar');
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

.pg-topo{
    background-color: #0060B1;
    height: 112px;

}
.pg-topo>.cabecalho{
    margin: 0px auto;
    width:89%;
    background-color: #0060B1;
    height: 112px;
}
.pg-topo>.cabecalho>.bar{
    display: block;
    float: left;
    width: 29px;
    font-size: 30px;
    font-variant: small-caps;
    margin-top: 40px;
}
.pg-topo>.cabecalho>.bar>a>.fa-bars{
    text-decoration: none;
    color: white;
}
.pg-topo>.cabecalho>.logo>img{
    width: 160px;
    margin: 17px 0px 20px 25px;
}
.pg-topo>.cabecalho>.logo{
    width: 18.3%;
    margin:0;
    float: left;
}
.pg-topo>.cabecalho>.busca-cabecalho{
    margin-top: 37px;
    float: left;
    width: 482px;
}
.pg-topo>.cabecalho>.busca-cabecalho>.txt-busca{
    height: 16px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    border: 0px;
    float: left;
    font-size: 15px;
}

.pg-topo>.cabecalho>.busca-cabecalho>.seta{
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0px;
    right: 490px;
    top: 32.6px;

}
.pg-topo>.cabecalho>.avatar-usuario{
    float: left;
    margin-top: 37px;
    margin-left: 117px;
}
.pg-topo>.cabecalho>.avatar-usuario>img{
    width: 35px;
    height: 32px;
}

.pg-topo>.cabecalho>.login-cadastro{
    float: left;
    margin-left: 8px;
    margin-top: 39px;
    font-size: 15px;
    color: #d1d1d1;
}

.pg-topo>.cabecalho>.login-cadastro>.login>a{
    font-weight: bold;
    text-decoration: none;
    color: #d1d1d1;
}
.pg-topo>.cabecalho>.login-cadastro>.cadastro>a{
    font-weight: bold;
    text-decoration: none;
    color: #d1d1d1;
}