@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
*{
    
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #A61B06;
    overflow-x: hidden;
}
.pg-topo{
    background-color: #0060B1;
    height: 112px;

}
.pg-topo>.cabecalho{
    margin: 0px auto;
    width:89%;
    background-color: #0060B1;
    height: 112px;
}
.pg-topo>.cabecalho>.bar{
    display: block;
    float: left;
    width: 29px;
    font-size: 30px;
    font-variant: small-caps;
    margin-top: 40px;
}
.pg-topo>.cabecalho>.bar>a>.fa-bars{
    text-decoration: none;
    color: white;
}
.pg-topo>.cabecalho>.logo>img{
    width: 160px;
    margin: 17px 0px 20px 25px;
}
.pg-topo>.cabecalho>.logo{
    width: 18.3%;
    height: 108px;
    margin:0;
    float: left;
}
.pg-topo>.cabecalho>.busca-cabecalho{
    margin-top: 39px;
    float: left;
    width: 482px;
}
.pg-topo>.cabecalho>.busca-cabecalho>.txt-busca{
    position: relative;
    height: 16px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    padding-left: 17px;
    border: 0px;
    float: left;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-bottom-right-radius: 27px;
}
.pg-topo>.cabecalho>.busca-cabecalho>.seta{
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0px;
    right: 489px;
    top: 31.6px;

}
.pg-topo>.cabecalho>.avatar-usuario{
    float: left;
    margin-top: 37px;
    margin-left: 117px;
}
.pg-topo>.cabecalho>.avatar-usuario>img{
    width: 35px;
    height: 32px;
}
.pg-topo>.cabecalho>.login-cadastro{
    float: left;
    margin-left: 7px;
    margin-top: 38px;
    font-size: 12px;
    color: #ccdff1;
    font-weight: 300;
}
.pg-topo>.cabecalho>.login-cadastro>.login>a{
    font-weight: bold;
    text-decoration: none;
    color: #ccdff1;
}
.pg-topo>.cabecalho>.login-cadastro>.login>a:hover{
    text-decoration: underline;
}
.pg-topo>.cabecalho>.login-cadastro>.cadastro>a{
    font-weight: bold;
    text-decoration: none;
    color: #ccdff1;
    font-weight: bold;
}
.pg-topo>.cabecalho>.login-cadastro>.cadastro>a:hover{
    text-decoration: underline;
}
.pg-topo>.cabecalho>.sac-botao{
    margin-top: 44px;
    margin-left: 60px;
    background-color: transparent;
    border: none;
    float: left;
}
.pg-topo>.cabecalho>.favoritos{
    float: left;
    margin-top: 46px;
    margin-left: 38px;
}
.pg-topo>.cabecalho>.carrinho{
    float: left;
    margin-top: 46px;
    margin-left: 40px;
}
.menu{
    position: absolute;
    background-color: #FF6500;
    margin: 0px;
    height: 38px;
    width: 97%;
    font-size: 14px;
    color: white;
    font-weight: 600;
}
.menu>.topicos{
    display: inline-block;
    width: 140px
}
.menu>.topico-1{
    display: inline-block;
    width: 239px;
    margin-left:37px;
    margin-right: 51px;
    padding-top: 8px;
}
.menu>a>.topico-2{
    display: inline-block;
    color: white;
}
.menu>a>.topico-3{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-4{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-5{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-6{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-7{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.menu>a>.topico-8{
    display: inline-block;
    margin-left: 39px;
    color: white;
}
.banner>img{
    position: absolute;
    margin-top: 38px;
    margin-bottom: 0px;
    width: 100%;
    z-index: 0;
}
section>.conteudo{
    position: absolute;
    top: 458px;
    left: 15px;
    width: 197vh;
    height: 100vh;
    background-color: white;
    z-index: 1;
}
.conteudo>.header-conteudo{
    display: block;
    background-color: #FF6500;
    width: 197vh;
    height: 69px;
}
.conteudo>.header-conteudo>.txt-header-conteudo{
    float: left;
    color: white;
    margin-top: 18px;
    margin-left: 72px;
    font-size: 24px;
    font-weight: bolder;
}
.conteudo>.header-conteudo>.txt-promocao{
    float: left;
    color: white;
    margin-top: 23px;
    margin-left: 590px;
    font-size: 16px;
    font-weight: bolder;
}
.produtos{
    margin: auto;
    margin-top: 36px;
    margin-left: 71px;
    display: inline-block;
    width: 170vh;
    height: 59vh;
}
.produtos>.produto-1{
    display: inline-block;
    height: 58.5vh;
    width: 18.7%;
}
.produtos>.produto-1:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.233);
    border-radius: 3px;
}
.produtos>.produto-1>.desconto-1{
    float: left;
    margin-left: 7px;
    border-radius: 3px;
    background-color: #FF6500;
    height: 40px;
    width: 40px;
}
.produtos>.produto-1>.desconto-1>.txt-desconto-1{
    margin-left: 7px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
.produtos>.produto-1>.desconto-1>svg{
    margin-left: 12px;
    margin-top: -1px;
    float: left;
}
.produtos>.produto-1>.unidades-1{
    float: left;
    margin-left: 7px;
    border: 1px solid #FF6500;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    font-size: 10px;
}
.produtos>.produto-1>.unidades-1>small{
    float: left;
    text-align: center;
    margin-left: 5px;
    height: 10px;
    color: #FF6500;
    font-weight: 500;
}
.produtos>.produto-1>.unidades-1>.small-2{
    float: left;
    text-align: center;
    margin-left: 11px;
    margin-top: 4px;
    height: 10px;
    color: #FF6500;
    font-weight: 500;
}
.produtos>.produto-1>.unidades-1>span{
    float: left;
    text-align: center;
    margin-left: 12px;
    height: 10px;
    color: #FF6500;
    font-weight: bold;
    font-size: 11px;
}
.produtos>.produto-1>.item-1>img{
    float: left;
    margin-left: 40px;
    margin-top: 9px;
    width: 131px;
}
.produtos>.produto-1>.item-1>.txt-produto-1{
    float: left;
    font-weight: 500;
    font-size: 14px;
    margin-top: 7px;
    margin-left: 15px;
    width: 170px;
    color: rgb(70, 70, 70);
}
.produtos>.produto-1>.item-1>.preço-de{
    float: left;
    color: rgba(70, 70, 70, 0.753);
    margin-left: 15px;
    text-decoration: line-through;
    font-size: 12px;
}
.produtos>.produto-1>.item-1>.preço-por{
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    color: #FF6500;
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
}
.produtos>.produto-1>.item-1>.pix{
    float: left;
    color: rgba(70, 70, 70, 0.753);
    margin-left: 15px;
    font-size: 12px;
}
.produtos>.produto-1>.botao-produtos{
    float: left;
    border: 1px solid #FF6500;
    width: 212px;
    height: 35px;
    margin-top: 39px; 
    border-radius: 3px;
    background-color: white;
}
.produtos>.produto-1>.botao-produtos>.botao-relogio{
    float: left;
    margin-top: -1px;
    margin-left: -7px;
    background-color: #FF6500;
    width: 66px;
    height: 34px;
    border-radius: 3px 0px 0px 3px;
}
.produtos>.produto-1>.botao-produtos>.botao-relogio>svg{
    margin-top: 5px;
}
.produtos>.produto-1>.botao-produtos>small{
    float: left;
    color: #FF6500;
    font-size: 9px;
    margin-left: 31px;
    margin-top: 5px;
}
.produtos>.produto-2{
    display: inline-block;
    margin-left: 11px;
    border: 1px solid black;
    height: 58.5vh;
    width: 18.7%;
}
.produtos>.produto-3{
    display: inline-block;
    margin-left: 11px;
    border: 1px solid black;
    height: 58.5vh;
    width: 18.7%;
}
.produtos>.produto-4{
    display: inline-block;
    margin-left: 11px;
    border: 1px solid black;
    height: 58.5vh;
    width: 18.7%;
}
.produtos>.produto-5{
    display: inline-block;
    margin-left: 11px;
    border: 1px solid black;
    height: 58.5vh;
    width: 18.9%;
}